*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

#chat-container {
    height: 100vh;
    max-height: 1080px;
    width: 100vw;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: aquamarine;
}

#message-dump {
    position: relative;
    height: 70%;
    width: 45%;
    border-radius: 25px;
    padding: 30px;
    background-color: whitesmoke;
}

#message-dump .user-message-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#message-dump .user-message-container span {
    padding: 7px 12px;
    border-radius: 7px;
    background-color: rgb(128, 142, 137);
}

#message-dump .other-message-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#message-dump .other-message-container span {
    padding: 7px 12px;
    border-radius: 7px;
    background-color: aquamarine;
}

form {
    height: 40px;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form label {
    position: relative;
    width: 80%;
    height: 100%;
}

form label input[type="text"] {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5px 12px;
    outline: none;
}

form label input:focus~span,
form label input:valid~span {
    top: -15px;
    font-size: 12px;
}


/* 
form label input:valid~span {
    top: -15px;
    font-size: 12px;
} */

form label span {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: all 300ms ease-in-out;
}

form button {
    width: 20%;
    height: 100%;
    cursor: pointer;
    background-color: rgb(67, 188, 148);
    font-weight: 700;
}

form button:hover {
    background-color: rgb(1, 111, 74);
    color: white;
}